.background{
    height: auto;
    width: 600px;
}
* {
    margin: 0;
    padding: 0;
  }
  ul,
  ol {
    list-style: none;
  }
  body {
    font-family: "Playfair Display", serif;
  }
  a {
    text-decoration: none;
  }
  .header {
    background: #E5E4E2;
    height: 80px;
    line-height: 80px;
  }
  .container {
    max-width: 86%;
    margin: auto;
  }
  .menu_a {
    display: flex;
    justify-content: space-between;
  }
  .nav {
    display: flex;
  }
  .nav a {
    font-size: 20px;
    color: black;
    padding: 0 15px;
    text-transform: uppercase;
    display: block;
    transition: all linear 0.3s;
  }
  .nav a:hover {
    background: #6D6968;
    color: whitesmoke;
  }
  .blackhouse a {
    font-size: 35px;
    color: black;
  }
  .carousel-wrapper{
     height:400px;
     width: 500px;
     position: relative;
     display: block;
     margin: 50px auto;
     border: 1px sloid black;

  }
  .carousel-item{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;

  }
  .arrow{
   border: solid black;
   border-width:0 3px 3px 0 ;
   display: inline-block;
   padding: 12px;
  }
  .arrow-prev{
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);

  }
  .arrow-next{
    right: 30px;
    position: absolute;
    top: 50%;
    transform:translateY(-50%) rotate(-455deg);
  }
  [id^= "item" ]{
    display: none;
  }
  .item-1{
    z-index: 2;
    opacity: 1;
    background: url(BH.jpg);
    background-size: 50%;

  }
  .item-2{
    background: url(P.jpg);
    background-size: 50%; 
  }
  .item-3{
    background: url(Q.jpg);
    background-size: 50%;
  }
  *:target ~ .item-1{
    opacity: 0;
  }
  #item-1:target ~ .item-1{
    opacity: 1;
  }
  #item-2:target ~ .item-2, #item-3:target ~ .item-3{
    z-index: 3;
    opacity: 1;
  }